body{
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}
/*---------------------section------------------------*/
section{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

section:nth-child(2n){
    background-color: #b5ecb7;
}

section:nth-child(2n+1){
    background-color: cornsilk;
}

.mb75px{
    margin-bottom: 75px;
}

.section-heading{
    width: auto;
    color: #2857a4;
    padding: 10px;
    font-weight: 600;
}

/*------------ section 1 ----------------*/
.button{
    padding: 0px;
    border: none;
}

.box{
    height: 150px;
    width: 150px;
    background-color: #ff005e;
}

/*------------section 2--------------*/
#section2{
    height: 70vh;
}

.toggle-heading{
    color: black;
}

.switch{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 34px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid black;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: white;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px white;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(47px);
    -ms-transform: translateX(47px);
    transform: translateX(47px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  /*-----------section 3--------------*/
  #circle{
      height: 200px;
      width: 200px;
      padding: 50px;
      margin: 50px;
      background-color: #ff005e;
      border-radius: 50%;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
  }

#square{
  width: 150px;
  height: 150px;
  background-color: white;
  align-self: center;
}

#rectangle{
  width: 150px;
  height: 100px;
  background-color: white;
  align-self: center;
}

#oval{
  width: 200px;
  height: 100px;
  background-color: white;
  align-self: center;
  border-radius: 100px/50px;
}

#triangle-up {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid white;
  align-self: center;
}

#triangle-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid white;
  align-self: center;
}

#triangle-left {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 100px solid white;
  border-bottom: 50px solid transparent;
  align-self: center;
}

#triangle-right {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid white;
  border-bottom: 50px solid transparent;
  align-self: center;
}

#trapezoid {
  border-bottom: 100px solid white;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 100px;
  align-self: center;
}

#parallelogram {
  width: 150px;
  height: 100px;
  transform: skew(20deg);
  background: white;
  align-self: center;
}

#Shape{
  height: 30px;
  width: auto;
  margin-bottom: 30px;
  padding: auto;
}

#Color{
  height: 30px;
  width: auto;
  margin-bottom: 50px;
  padding: auto;
}


  /*-----------section 4--------------*/
  #section4 h1{
    margin-bottom: 0px;
  }

  #direction-box{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
  }

  #direction{
    display: inline-block;
  }

  #direction img{
    height: 50px;
    width:  50px;
  }

  #direction h5{
    display: inline-block;
    font-size: 40px;
    font-weight: 400;
    font-family: cursive;
    
  }

  #ball-container{
    width: 90%;
    height: 60vh;
    background-color: cornsilk;
    margin-bottom: 40px;
    text-align: center;
  }

  #ball{
    height: 150px;
    width: 150px;
    background-color: #ff005e;
    border-radius: 50%;
    position: relative;
    top: 30%;
    left: 40%;

  }

  /*-----------section 5--------------*/
  #box-container{
    width: 95%;
    height: 30vh;
    background-color: cornsilk;
    margin-bottom: 20px;
  }

  #catchme-box{
    height: 150px;
    width: 150px;
    background-color: #b916f4;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #catchme-box p{
    font-size: 30px;
    color: white;
  }

  /*-----------section 6--------------*/

  #addbutton{
    width: 200px;
    height: 50px;
    display: block;
    margin: auto;
    margin-top: 50px;
    font-family: monospace;
    font-size: 1.3rem;
    cursor: pointer;
  }

  #addbutton:hover {
    box-shadow: 0px 0px 30px 2px cornsilk;
}

#ball-box{
  border: 5px double lightgrey;
  border-top: none;
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap-reverse;
  min-height: 100px;
  background-color: azure;
  width: 93%;
}

.ball{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}